{% extends 'base.html' %}


<title>{% block title %}    Список заказов {% endblock title %}</title>

{% block content %}
    <table>
        <h3>Список блюд</h3>
        <a href="{% url 'webapp:food_create' %}">Добавить блюдо</a>
        <thead>
        <tr>

            <th>Наименование блюда</th>
            <th>Цена</th>
            <th>Просмотр</th>
        </tr>
        </thead>

        {% for food in object_list %}
            <tr>
                <td>{{ food.name }}</td>
                <td>{{ food.price }}</td>
                <td><a href="{% url 'webapp:food_detail'  food.pk %}">📜</td>
            </tr>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}